.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;
    -webkit-transition-duration: 300ms;
    background-color: #ffffff;
}