.navbar {
    position: relative;
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;
    -webkit-transition-duration: 300ms;
    background-color: #ffffff;
}

.aroundheader{
    padding: 2em;
}

.rectangle-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.params{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav{
    display: flex;
    flex-direction: row;
}


